/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2017, 12:14:02 AM
    Author     : puwakitk
*/

@media print {
    [class*="col-sm-"] {
        float: left;
    }
}
@media print {
    page-break-after: always;
}
body{
    font-family: 'thsarabunnew';
    font-size: 16px;
}
.row-print{
    margin-bottom: 0.5em;
}
.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}
.normal-size{
    display: none;
}
.large-size{
    /*display: none;*/
}
.box-wrapper{
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 250px;
    background: transparent;
    display: block;
    border: 1px solid black ;
    border-radius: 5px;
}

.box-wrapper .header{
    height: 50px;
    width: 100%;
    background: #ff9900;
    color: #000000;
}
.box-wrapper .header .header-text{
    text-align: center;
    font-size: 16px;
    margin-top: 0.5em;
}
.box-wrapper .content > img{
    height: 100px;
    width: 100%;
    background: inherit;
    color: #fefefe;
}
.box-wrapper .score{
    position: absolute;
    width: 180px;
    float: left;
    /*background: red;*/
    color:black;
    margin-top: -90px;
    margin-left: 130px;
    font-size: 20px;
}
.box-wrapper .star{
    position: absolute;
    width: 170px;
    display: box;
    float: left;
    margin-left: 5em;
    margin-top: -1.5em;
}
td > .logo{
    /*background-color: red;*/
    width: 111px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 1em;
}

@page {
    margin-top: 1cm;
}
