@font-face {
	font-family: 'TH Sarabun New';
	src: url('../font/THSarabunNew-Italic.eot');
	src: url('../font/THSarabunNew-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/THSarabunNew-Italic.woff2') format('woff2'),
		url('../font/THSarabunNew-Italic.woff') format('woff'),
		url('../font/THSarabunNew-Italic.ttf') format('truetype'),
		url('../font/THSarabunNew-Italic.svg#THSarabunNew-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TH Sarabun New';
	src: url('../font/THSarabunNew.eot');
	src: url('../font/THSarabunNew.eot?#iefix') format('embedded-opentype'),
		url('../font/THSarabunNew.woff2') format('woff2'),
		url('../font/THSarabunNew.woff') format('woff'),
		url('../font/THSarabunNew.ttf') format('truetype'),
		url('../font/THSarabunNew.svg#THSarabunNew') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TH Sarabun New';
	src: url('../font/THSarabunNew-BoldItalic.eot');
	src: url('../font/THSarabunNew-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/THSarabunNew-BoldItalic.woff2') format('woff2'),
		url('../font/THSarabunNew-BoldItalic.woff') format('woff'),
		url('../font/THSarabunNew-BoldItalic.ttf') format('truetype'),
		url('../font/THSarabunNew-BoldItalic.svg#THSarabunNew-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TH Sarabun New';
	src: url('../font/THSarabunNew-Bold.eot');
	src: url('../font/THSarabunNew-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/THSarabunNew-Bold.woff2') format('woff2'),
		url('../font/THSarabunNew-Bold.woff') format('woff'),
		url('../font/THSarabunNew-Bold.ttf') format('truetype'),
		url('../font/THSarabunNew-Bold.svg#THSarabunNew-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
.fontscreen{
    font-family: TH Sarabun New;
    font-size: 1.2em;
}

.require-field{
    color: red;
}