.login-box {
    background: #fff;
    border: 2px solid #ddd; 
    margin: 100px 0;
    padding: 40px 20px 0 20px;
}
.login-box-centering{
    padding-top: 10rem;
}
.little-padding-top{
    padding-top: 1.25rem;
}
.fullscreen-bg{
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
.fullscreen-bg-withImg{
    background: url(../img/bg_blur.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0; 
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;


}
.fullscreen-bg-filter{
    min-width: 100%;
    min-height: 100%;

}
.top-bar ,.top-bar ul{
    background-color: #fefefe;
}
.top-bar a{
    color: #313131;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.top-bar a:hover{
    color: #7A1A97;
    text-decoration: underline;
}
.top-bar{
    border-bottom: 1px #000 solid;
}
.top-bar-right{
    margin-right: 5rem;
}
.top-bar-left{
    margin-left: 5rem;
}
.current{
    text-decoration: underline;
    font-weight: 700;
}
.top-bar .current{
    color: rgba(0, 0, 0, 0.5);
	font-size:22px;
}
.message-box{
    margin: 2rem;
}
.footer-box{
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.footer{
    /*margin-top: 5rem;*/
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-landing{
    /*margin-top: 5rem;*/
    position: absolute;
    width: 100%;
    bottom: 0;
}
.footer p{
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
}

.footer-landing p{
    font-size: 1rem;
    line-height: 1rem;
    color: #fff;
}
.bg-green{
    background-color: #813C96;
}
.bg-grey{
    background-color: #eee;
}
.centered{
	text-align: center;

}
