/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 22, 2017, 5:03:59 PM
    Author     : puwakitk
*/

.table-infographic{
    width: 100%;
}

.table-infographic {
    border-spacing: 0 5em
}

.infographic{
    position: relative;
    max-width: 250px;
    height: 250px;
    width: 100%;
    background: #ffffff;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 auto 0 auto;
}

.infographic-header{
    position: relative;
    top: 0px;
    height: 25px;
    background: #ff0000;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.5em;
    text-align: center;
}

.infographic-line{
    position: relative;
    top: 0px;
    height: 15px;
    background: #999999;
    width: 100%;
    font-size: 2em;
}

.infographic-result-box{
    position: absolute;
    top: 1em;
    width: 30%;
    left: 0.5em;
    background: #ff9900;
    height: 80px;
    border: 1px solid;
    border-radius: 10px;

}

.infographic-result-header{
    position: absolute;
    top: 0px;
    height: 20px;
    background: #f17524;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 0.5em;
}

.infographic-result-text{
    position: relative;
    top: 30px;
    height: 30px;
    width: 100%;
    font-size: 1.5em;
    text-align: center;
}

.infographic-previous-result-box{
    position: relative;
    width: 40%;
    left: 0.5em;
    background: #ffffff;
    height: 15px;
    border: 2px black solid;
    border-radius: 5px;
}

.infographic-previous-result-circle{
    position: absolute;
    width: 25px;
    top: -0.6em;
    right: -0.6em;
    background: #ffffff;
    height: 25px;
    border: 2px black solid;
    border-radius: 50%;
    font-size: 1em;
    text-align: center;
}

.infographic-grade-box{
    position: relative;
    width: 45%;
    left: 3.5em;
    background: #ff9900;
    height: 20px;
    border: 2px black solid;
    border-radius: 5px;
    margin-top: 1.5em;
}

.infographic-grade-box-header{
    position: absolute;
    top: -2em;
    font-size: 0.5em;
}

.infographic-grade-circle{
    position: absolute;
    width: 35px;
    top: -0.5em;
    right: -0.8em;
    background: #ffffff;
    height: 35px;
    border: 2px black solid;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;

}
.infographic-grade-circle-text{
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
}

.infographic-icon-circle{
    position: absolute;
    width: 90px;
    height: 90px;
    bottom: -3em;
    right: -2.5em;
    background: #ffffff;
    border-radius: 50%;
    font-size: 1em;

}

.infographic-icon-circle img{
    position: relative;
    width: 100%;
    background: transparent;
    height: 100%;

}

.infographic-chart{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 55%;
    height: 130px;
    z-index: 2;
}

.infographic-chart-content{
    height: 120px;
    width: 100%;
}

.row{
    position: relative;
    width: 100%;
    max-height: 130px;
    height: 100%;
}

.row:before{
    content: " ";
    display: table;
}

.row:after{
    clear: both;
    content: " ";
    display: table;
}